<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectApartTalk"
        tools:targetApi="31">
        <activity
            android:name=".ui.entiremenu.CompanyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.facility.DetailFacilityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.facility.FacReservationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.community.activity.CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.location.LocationShowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.entiremenu.AptSchedule.AptScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.ApartTalk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>